<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" />
<center>
    <b>
    <li><a th:href="@{'/article/all'}"/>Wszystkie artykuły</a></li>
    <li><a th:href="@{'/article/new'}"/>Nowy artykuł</a></li>
    <li><a th:href="@{'/delivery/new'}"/>Nowa dostawa</a></li>
    <li><a th:href="@{'/product/all'}"/>Wszystkie produkty</a></li>
    <li><a th:href="@{'/logout'}"/>Wyloguj</a></li>
    </b>
</center>
<table class="table table-md table-bordered">
    <tr style="text-align: center; vertical-align: middle">
        <th scope="col">Numer id</th>
        <th scope="col">Nazwa produktu</th>
        <th scope="col">Liczba dostępnych</th>
    </tr>
    <tbody>
    <tr th:each="article : ${articles}">
        <td th:text="${article.id}">Numer id</td>
        <td th:text="${article.name}">Nazwa produktu</td>
        <td th:text="${article.amountOfArticlesInStorage}">Liczba dostępnych</td>
    </tr>
    </tbody>
</table>

</body>
</html>