<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" />
<center>
  <b>
  <li><a th:href="@{'/article/all'}"/>Wszystkie artykuły</a></li>
  <li><a th:href="@{'/article/new'}"/>Nowy artykuł</a></li>
  <li><a th:href="@{'/delivery/new'}"/>Nowa dostawa</a></li>
  <li><a th:href="@{'/product/all'}"/>Wszystkie produkty</a></li>
  <li><a th:href="@{'/logout'}"/>Wyloguj</a></li>
  </b>
</center>
<form th:action="@{/delivery/map/new}" th:object="${wrapper}"  method="post">
  <center>
    <h1>Nowa dostawa</h1>
    <div th:each="article : ${articles}">
      <div class="form-group">
        <b><label th:text="${article.name}"/></b>
        <br>
        Ile sztuk dostarczono
        <input type="number" name="treeSetOfNumbers" value="0" />
        <input type="hidden" name="treeSetOfProducts" value="${article.name}" th:value="${article.name}" />
      </div>
    </div>
    <button type="submit">Zatwierdź dostawę</button>
  </center>
</form>
</body>
</html>